body ,
html{
		width: 100%;
		height: 100%;
		font-family: 'Wallpoet', cursive;
		
  background: url(4.1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 3rem;
	color: #e2dbdb;
	
}
hr{
	border-color: #F05F44;
	border-width: 3px;
	max-width: 65px;
}
.buffer{
	height: 9rem;
}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: #ee4b08
	border-width:4px;
	transform:scale(1.2);
	transition: all 2s;
}

.btn-xl{
	padding: 1rem 2rem;
}